<h1 class="display-4"Welcome to Customer DB></h1>
<p class="mb4">This is a sails JS app for customer management</p>

<a href="/customer" class="btn btn-light">View Customers</a>
<a href="/customer/new" class="btn btn-light">View Customers</a>