<form action="/customer/" method="post"> 

    <h2>Delete Customer</h2>
    
    <input type="number" placeholder="Customer Id" name="id" ></br/>    
    <input type="submit" value="Delete Customer"/>
    
    </form>